<mat-form-field>
    <mat-label><ng-content></ng-content></mat-label>
    <input #input matInput [type]="type" [formControl]="formControl">
    <mat-icon matIconPrefix *ngIf="type == 'search'" style="color: rgba(0, 0, 0, 0.6)">search</mat-icon>
    <button mat-icon-button matSuffix *ngIf="type == 'password'" (click)="toggleVisibility()" style="margin-right: 10px">
        <mat-icon #icon style="color: rgba(0, 0, 0, 0.6)">visibility</mat-icon>
    </button>
    <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>