<app-header></app-header>
<div [formGroup]="deviceForm" class="flex-center" style="flex-direction: column">
    <app-input-field type="text" [control]="deviceForm.controls['nom']">Nom</app-input-field>
    <app-input-field type="text" [control]="deviceForm.controls['version']">Version</app-input-field>
    <app-input-field type="text" [control]="deviceForm.controls['ref']">Référence</app-input-field>
    <app-input-field type="text" [control]="deviceForm.controls['num']">Numéro de téléphone</app-input-field>
    <p>Image (facultatif)</p>
    <input type="file" (change)="onFileSelected($event)" formControlName="image" class="fileInput" accept="image/jpeg">
    <div class="ligne-boutons">
        <button class="button" (click)="onClickAnnuler()">Annuler</button>
        <button class="button" (click)="onClickAjouter()" [disabled]="deviceForm.invalid">Ajouter</button>
    </div>
</div>

