<app-header></app-header>
<div [formGroup]="materielForm" class="flex-center" style="flex-direction: column">
    <app-input-field type="text" formControlName="ID">ID</app-input-field>
    <app-input-field type="text" formControlName="nom">Nom</app-input-field>
    <app-input-field type="text" formControlName="version">Version</app-input-field>
    <app-input-field type="text" formControlName="ref">Référence</app-input-field>
    <app-input-field type="text" formControlName="num">Numéro de téléphone</app-input-field>
    <button #button class="button" (click)="onClickModifier()">Modifier</button>
</div>
