<app-header></app-header>
<div [formGroup]="deviceForm" class="flex-center" style="flex-direction: column">
    <app-input-field type="text" [control]="deviceForm.controls['ID']">ID</app-input-field>
    <app-input-field type="text" [control]="deviceForm.controls['nom']">Nom</app-input-field>
    <app-input-field type="text" [control]="deviceForm.controls['version']">Version</app-input-field>
    <app-input-field type="text" [control]="deviceForm.controls['ref']">Référence</app-input-field>
    <app-input-field type="text" [control]="deviceForm.controls['num']">Numéro de téléphone</app-input-field>
    <button #button class="button" (click)="onClickModifier()">Modifier</button>
</div>
